@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body {
    font-family: sans-serif;
    font-size: 16px;
  }

/* Fonts used in project */
@font-face {
  font-family: "Brandon_Grotesque_Bold";
  src: url("fonts/Brandon_bld.otf");
}
@font-face {
  font-family: "Brandon_Grotesque_Reg";
  src: url("fonts/Brandon_reg.otf");
}
@font-face {
  font-family: "Brandon_Grotesque_Black";
  src: url("fonts/Brandon_blk.otf");
}
@font-face {
  font-family: "Brandon_Grotesque_Med";
  src: url("fonts/Brandon_med.otf");
}
@font-face {
  font-family: "Chronicle_Display_Black";
  src: url("fonts/Chronicle Display Black.otf");
}
@font-face {
  font-family: "Chronicle_Display_Bold";
  src: url("fonts/Chronicle Display Bold.otf");
}
/* Fonts used in project */


.mobile-menu,.fa.fa-bars.hamburger-icon {
	display: none;
}

nav {
    background: #fff;
    padding: 0 15px;
    letter-spacing: 2px;
   }
a {
    color: #000;
    text-decoration: none;
}
.menu {   
    list-style-type: none;
}

.navbar.navbar-expand-sm.justify-content-center.header-nav {
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #fff;
}
.navbar.navbar-expand-sm.justify-content-center.header-nav ul li a {
	color: #000000;
	font-family: "Brandon_Grotesque_Bold";
}
.navbar-nav.header-navigation {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.nav-item.first-item,.second-item,.third-item,.fourth-item,.fifth-item,.sixth-item,.sixth-item.head-cart {
	margin-top: 5px;
}

.item.button.number {
    border-radius: 50px;
    background-color: #DDA74A;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    margin-bottom: 15px;
    margin-left: -7px;
}

 .button {
        order: 2;
    }

#hero-section {
    position: relative;
    background-image: url("images/Kitchen_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 96%;
    margin-left: 2%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    padding-bottom: 5%;
}

.headline,.headline-first {
    font-size: 60px;
    color: #FFFAFA;
    font-family: "Chronicle_Display_Black";
    margin-left: 5%;
}
.headline {
    margin-top: -1%;
}
.headline-first {
    margin-top: 10%;
}
.text {
	font-size: 20px;
	color: #FFFAFA;
	font-family: "Brandon_Grotesque_Reg";
	margin-left: 5%;
	margin-top: 2%;
	line-height: 1.6;
}
.get-started {
	color: #004A4C;
	padding: 15px 40px;
	background-color: #fff;
	border: none;
	font-family: "Brandon_Grotesque_Black";
	font-size: 13px;
	letter-spacing: 2px;
	margin-left: 5%;
	border-radius: 6px;
	margin-top: 2%;
	margin-bottom: 10%;
}

/* My addition to hover state on button GET STARTED */

.get-started:hover {
	background-color: #004A4C;
	color: #fff;
	transition: 0.5s;
}

/* My addition to hover state on button GET STARTED */

#meet-biom {
    position: relative;
    background-image: url("images/Biom fn .23.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.auto-scroll-text{
        writing-mode:sideways-lr;
	font-size: 130px;
	font-weight: bold;
	color: #f2f2f2;
	padding-left: 5%;
	position: absolute;
	-webkit-writing-mode:vertical-lr;
}

/* meet biom text ANIMATION start */

.auto-scroll-text {
  
  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  -moz-animation: my-animation 7s linear infinite;
  -webkit-animation: my-animation 7s linear infinite;
  animation: my-animation 7s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* meet biom text ANIMATION end */


.biom,.biom-text {
	font-family: "Brandon_Grotesque_Reg";
	color: #002D33;
}
.biom {
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 4%;
}
.biom-text {
	line-height: 1.5;
	margin-top: 1%;
	margin-left: 365px;
	font-size: 18px;
}
.biom-text.second {
	margin-top: 0;
	margin-right: 137px;
	line-height: 0.5;
}
.redefine {
	color: #002D33;
	font-family: "Chronicle_Display_Black";
	font-size: 36px;
	margin-top: 1%;
	margin-left: 400px;
        letter-spacing: 0.5px;
}
.icons {
	margin-top: 4%;
}
.icon-text,.icon-text-second,.icon-text-third {
        display: flex;
        align-items: center;
	justify-content: center;
	margin-top: 3%;
	margin-left: 9%;
	font-family: "Brandon_Grotesque_Reg";
	font-size: 18px;
	color: #002D33;
  } 
span {
   padding: 10px;
   padding-left: 30px;
     }
span.vessel-color {
	border-right: 1px solid;
	padding-top: 11px;
	padding-bottom: 14px;
	padding-right: 10px;
	padding-left: 15px;	
}

.icon-text-second {
	margin-right: 20px;
}
.icon-text-third {
	margin-right: 80px;
}
.shop {
	padding: 15px 45px;
	color: #fff;
	background-color: #004A4C;
	border: none;
	border-radius: 6px;
	letter-spacing: 2px;
	font-size: 13px;
	font-family: "Brandon_Grotesque_Black";
	margin-top: 3%;
        margin-right: 1.5%;
	margin-bottom: 4%;
}

.shop:hover {
	background-color: #023436;
	transition: 0.3s;
}

#images {
	display: flex;
	padding: 3% 0px 25px 0px;
	margin-bottom: 7%;
	overflow-x: hidden;
}

.text-over-image,.kitchen-shot,.living-room {
	position: relative;
	overflow: hidden;
}
.text-over-image,.kitchen-shot {
	margin-left: 1%;
}
.living-room,.text-over-image,.kitchen-shot {
	min-width: 35vw;
}
.livingroom,.office-img,.kitchen {
	width: 100%;
	height: auto;
}

/* INTERACTIONS div Images start */

.living-room img {
	transition: all 0.5s;
}
.living-room:hover img {
	transform: scale(1.1);
}

.text-over-image img {
	transition: all 0.5s;
}
.text-over-image:hover img {
	transform: scale(1.1);
}

.kitchen-shot img {
	transition: all 0.5s;
}
.kitchen-shot:hover img {
	transform: scale(1.1);
}

.text-over-image:hover .office {
	display: block;
}
.kitchen-shot:hover .office.kitchen-image {
	display: block;
}
.living-room:hover .office.living {
	display: block;
}

/* INTERACTIONS div Images end */


.where,.when {
	color: #fff;
	text-align: center;
	position: relative;
}
.where {
	font-size: 16px;
	letter-spacing: 2px;
	font-family: "Brandon_Grotesque_Reg";
	padding-top: 100px;
	margin-top: -73%;
}
.when {
	font-size: 78px;
	font-family: "Chronicle_Display_Black";
	padding-bottom: 120px;
	margin-top: 3%;
        line-height: 1;
}
.office {
	color: #fff;
	font-size: 22px;
	font-family: "Chronicle_Display_Bold";
	position: absolute;
	top: 89%;
        left: 46%;
	display: none;
}
.office.kitchen-image {
	left: 48%;
}
.office.living {
	left:42%;
}

.kitchen {
	margin-right: -120px;
}

#ready-to-start {
	margin-top: 7%;
}

.ready {
	font-family: "Chronicle_Display_Black";
	color: #000;
	font-size: 36px;
	margin-left: 15%;
	margin-top: 18%;
	line-height: 1.2;
}
.color {
	border: 1px solid #002D33;
	border-radius: 6px;
	color: #002D33;
	font-family: "Brandon_Grotesque_Black";
	font-size: 12px;
	background-color: #fff;
	margin-left: 15%;
	margin-top: 10%;
	width: fit-content;
	letter-spacing: 1.5px;
}

.vessel-line {
	padding: 15px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 0;
	border-bottom: 0;
	padding-left: 0;
	margin-left: 10px;
} 

.bioms,.teal {
	position: absolute;
	display: none;
}

.bioms {
	font-size: 22px;
	color: #000;
	font-family: "Chronicle_Display_Black";
	top: 290px;
}

.teal {
	font-size: 14px;
	color: #000;
	font-family: "Brandon_Grotesque_Reg";
	letter-spacing: 2px;
	top: 330px;
}

/* INTERACTIONS div Ready to start start */
 
.color:hover .vessel-line {
	transform: translateX(3px);
	transition: 0.3s;
}

.ocean:hover .green {
	padding-left: 80px;
	transition: 0.3s;
}
.ocean:hover .bioms {
	display: block;
}
.ocean:hover .teal {
	display: block;
}

.whitebiom:hover .fn {
	padding-left: 80px;
	transition: 0.3s;
}
.whitebiom:hover .bioms {
	display: block;
}
.whitebiom:hover .teal {
	display: block;
}

.ink:hover .black {
	padding-left: 80px;
	transition: 0.3s;
}
.ink:hover .bioms {
	display: block;
}
.ink:hover .teal {
	display: block;
}

/* INTERACTIONS div Ready to start end */


/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: 220px;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  border: 1px solid #002D33;
  height:8px;
  width:8px;
  border-radius: 50%;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #002D33;
  height:8px;
  width:8px;
  border-radius: 50%;
}
.next-circle {
	margin-left: 10px!important;
}
.people {
	text-align: center;
	font-family: "Brandon_Grotesque_Reg";
	color: #002D33;
	font-size: 14px;
	letter-spacing: 2px;
	padding-top: 5%;
}
#testimonials {
	background-color: #f2f2f2;
	padding-bottom: 100px;
	position: relative;
}
.testimonial-containter {
	margin-top: -20px;
}
.test-text {
	font-family: "Chronicle_Display_Bold";
	font-size: 25px;
	color: #002D33;
	width: 63%;
        margin-left: auto;
        margin-right: auto;
}
.name {
	font-size: 13px;
	font-family: "Brandon_Grotesque_Med";
	color:#002D33;
	letter-spacing: 2px;	
}

#overlapping-images {
	display: flex;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
	position: relative;
}
.wipes {
	background-color: #DAE5E5;
	border-radius: 12px;
	z-index: 1;
	margin-top: 40px;
	position: relative;
}
.mockup {
	position: absolute;
        top: 350px;
        left:330px;
	z-index: 3;
	height: auto;
	max-width: 100%;
}
.biom-wipes {
	font-family: "Brandon_Grotesque_Reg";
	color: #002D33;
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 23%;
	padding-top: 6%;
}
.planet {
	font-family: "Chronicle_Display_Black";
	color: #000;
	font-size: 36px;
	padding-left: 23%;
}
.experience {
	font-family: "Brandon_Grotesque_Reg";
	color: #002D33;
	font-size: 18px;
	padding-left: 23%;
	width: 80%;
	padding-top: 10px;
	line-height: 1.6;
}
.woman {
	margin-right: -20px;
	z-index: 2;
	position: relative;
	height: auto;
	max-width: 100%;
}
.icon-info,.icon-info-second,.icon-info-third {
	font-family: "Brandon_Grotesque_Reg";
	font-size: 18px;
	color: #000;
	padding-left: 28%;
	padding-top: 2%;
}
.subscribe {
	position: absolute;
        padding: 15px 40px;
	top: 529px;
	left: 260px;
}
.subscribe:hover {
	background-color: #002D33;
	transition: 0.3s;
}

#video {
	position: relative;
}

#myVideo {
	margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        border-radius: 16px;
        margin-top: 12%;
}
.cleaning {
	font-family: "Brandon_Grotesque_Reg";
	font-size: 14px;
	color: #FFFAFA;
	letter-spacing: 2px;
}
.video-text {
	position: absolute;
        top: 50%;
        left: 40%;
}
.plastic-not {
	font-family: "Chronicle_Display_Black";
	font-size: 36px;
	color: #FFFAFA;
	margin-left: -15%;
}
.reinvented {
	font-family: "Brandon_Grotesque_Reg";
	font-size: 18px;
	color: #FFFAFA;
	width: 600px;
        margin-left: -14%;
	line-height: 1.5;
}
.learn {
	background-color: #FFFFFF;
	color: #004A4C;
	font-family: "Brandon_Grotesque_Black";
	font-size: 13px;
	letter-spacing: 2px;
	padding: 15px 30px;
	border: none;
	border-radius: 14px;
	margin-left: 20%;
	margin-top: 2%;
}

/* My addition to hover state on button LEARN MORE */

.learn:hover {
	background-color: #004A4C;
	color: #fff;
	transition: 0.5s;
}

/* My addition to hover state on button LEARN MORE */

#clean-with-biom {
	margin-top: 3%;
	text-align: center;
	overflow-x: hidden;
	display: flex;
}
.instagram-images {
	display: flex;
}

.instagram-one,.instagram-three,.instagram-five {
	padding-bottom: 2%;
}
.instagram-two,.instagram-four,.instagram-six {
	padding-top: 2%;
}
.instagram-one,.instagram-two,.instagram-three,.instagram-four,.instagram-five,.instagram-six {
	width: 100%;
        height: auto;
}
.instagram-one {
  min-width: 17vw;
  margin-left: -8%;
}
.instagram-two {
  min-width: 18vw;
  margin-left: 2%;
}
.instagram-three {
  min-width: 18vw;
  margin-left: 2%;
}
.instagram-four {
  min-width: 18vw;
  margin-left: 2%;
}
.instagram-five {
  min-width: 18vw;
  margin-left: 2%;
}
.instagram-six {
  min-width: 17vw;
  margin-left: 2%;
}

.clean {
	font-size: 36px;
	font-family: "Chronicle_Display_Black";
	color: #002D33;
	margin-bottom: 3%;
	text-align: center;
        margin-top: 5%;
}
.follow {
	border: 1px solid #002D33;
	border-radius: 6px;
	padding: 0;
	width: fit-content;
	color: #004A4C;
	font-family: "Brandon_Grotesque_Black";
	font-size: 13px;
	background-color: #fff;
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	border-right: none;
	letter-spacing: 1px;
}
span.follower {
	padding: 10px;
	padding-left: 15px;
	padding-right: 5px;
}

.fa-brands.fa-instagram.fa-2x {
	font-size: 20px;
	margin-left: 5px;
	padding: 12px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	vertical-align: sub;
	border: 1px solid;
	border-top: 0;
        border-bottom: 0;
}

.follow:hover .fa-brands.fa-instagram.fa-2x {
	background-color: #004A4C;
	color: #fff;
	transition: 0.3s;
}

#news {
	position: relative;
	background-repeat: no-repeat;
	background-image: url("images/Biom_wipe_2.png");
	background-size: cover;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 14px;
	z-index: 2;
	margin-bottom: -10%;
}
.latest {
	font-family: "Chronicle_Display_Black";
	font-size: 30px;
	color: #000;
	padding-left: 10%;
	padding-top: 5%;
	line-height: 1.2;
}
.access {
	font-family: "Brandon_Grotesque_Reg";
	font-size: 16px;
	color: #000;
	padding-left: 10%;
}
.mail {
	border-radius: 6px;
	background-color: #fff;
	color: #000;
	font-family: "Brandon_Grotesque_Reg";
	font-size: 16px;
	padding: 10px;
	border: none;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 5%;
	padding-top: 17px;
        padding-bottom: 17px;
	padding-right: 230px;
	position: relative;
}
.arrow-mail {
	display: inline-block;
	border: 10px solid #004A4C;
        border-radius: 6px;
        background-color: #004A4C;
        color: #fff;
	border-left-width: 18px;
        border-right-width: 13px;
	position: relative;
	margin-left: -65px;
	padding-right: 3px;
}
::placeholder { 
       color: #000;
       opacity: 1; /* Firefox solution for color */
}
.mail-button {
	margin-left: 0;
}
.arrow-mail:hover {
	background-color: #002D33;
	border: 10px solid #002D33;
	border-left-width: 18px;
        border-right-width: 13px;
}
.arrow-mail:hover .mail-button {
	transition: 0.3s;
	transform: translateX(3px);
}
.mail-button {
	padding-left: 0;
}

#footer {
	background-color: #487d7f;
	width: 100%;
	z-index: 1;
	position: relative;
	padding-top: 3%;
}
#footer .navbar {
	font-family: "Brandon_Grotesque_Bold";
	font-size: 14px;
}
.navbar {
	background-color: #487d7f;
	margin-top: 9%;
}
.footer-hr {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid #004A4C;
	margin-top: 3%;
	margin-bottom: 3%;
}

.navbar-nav {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
} 
.navbar-nav li a {
	color: #fff;
}

.logo-footer {
	margin-left: auto;
	margin-right: auto;
}
.nav-item.first-item, .nav-item.second-item, .nav-item.third-item {
	order: 0;
	padding-left: 3%;
}
.nav-item.second-item, .nav-item.third-item {
	padding-left: 5%;
}
.nav-item.fourth-item, .nav-item.fifth-item, .nav-item.sixth-item {
	order: 2;
}
.nav-item.fourth-item {
	padding-right: 5%;
}
.nav-item.fifth-item {
	padding-right: 1%;
}
.nav-item.sixth-item.footer-item {
	padding-left: 3%;
}
.nav-item.first-item:hover {
	text-decoration: underline;
	text-decoration-color: #004A4C;
	transition: 0.3s;
}
.final {
	display: flex;
}
.rights {
	font-family: "Brandon_Grotesque_Reg";
	font-size: 15px;
	color: #FFFAFA;
	margin-left: 5%;
	padding-bottom: 2%;
}
.dot-one {
	padding-left: 10px;
}
.dot-two,.foot-text-one,.foot-text-two {
	padding-left: 1px;
}
.social {
	margin-left: auto;
        margin-right: 5%;
}
.instagram-icon {
	margin-right: 10px;
}



/* RESPONSIVE design */

/* HEADER navigation */
@media only screen and (max-width: 815px) {
	
	.navbar.navbar-expand-sm.justify-content-center.header-nav {
		display: none;
	}
	.mobile-menu {
		display: block;
                text-decoration: none;
		text-align: center;
		font-family: "Brandon_Grotesque_Bold";
		font-size: 14px;
	}
	.mobile-menu li {
		list-style: none;
		padding-top: 10px;
	}
	.item.button.number {
                width: 20px;
        	position: absolute;
        	left: 51%;
        	top: 31%;
        	padding: 2px;
		margin-left: 0;
		margin-right: 0;
    }
	.nav-item.sixth-item.head-cart {
		padding-left: 0;
	}
	.nav-item.logo-footer.header-logo {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.fa.fa-bars.hamburger-icon {
		margin-top: 10px;
		display: block;
		text-align: center;
		padding: 5px;
		border: 8px solid #004A4C;
		background-color: #004A4C;
		width: 50px;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
		cursor: pointer;
		margin-bottom: 10px;
}
	.fa.fa-bars.hamburger-icon:hover {
		border-radius: 10px;
		transition: 0.5s;
	}
}

/* HERO section */

@media only screen and (min-width:800px) and (max-width:1200px) {
	.headline,.headline-first {
		font-size: 50px;
	}
	.text {
		font-size: 17px;
	}
	.get-started {
		padding: 13px 34px;
		font-size: 12px;
	}
}

@media only screen and (min-width:600px) and (max-width:799px) {
	.headline,.headline-first {
		font-size: 43px;
	}
	.text {
		font-size: 15px;
	}
	.get-started {
		padding: 12px 32px;
		font-size: 12px;
	}
}

@media only screen and (max-width:599px) {
	.headline,.headline-first {
		font-size: 35px;
	}
	.text {
		font-size: 14px;
	}
	.get-started {
		padding: 10px 28px;
		font-size: 11px;
	}
}


/* MEET BIOM section */

@media only screen and (min-width:1030px) and (max-width:1300px) {
	.biom {
		font-size: 14px;
	}
	.redefine {
		font-size: 34px;
		margin-right: 20px;
	}
	.biom-text,.biom-text.second,.icon-text,.icon-text-second,.icon-text-third {
		font-size: 17px;
	}
	.biom-text {
		margin-right: 20px;
	}
	.biom-text.second {
		margin-right: 150px;
	}
	.shop {
		padding: 14px 42px;
	}
	.icon-text,.icon-text-second,.icon-text-third {
		margin-left: 12%;
	}
}

@media only screen and (min-width:700px) and (max-width:1029px) {
	.biom {
		font-size: 13px;
		margin-right: 25%;
	}
	.redefine {
		font-size: 31px;
		margin-left: 10%;
	}
	.biom-text,.biom-text.second,.icon-text,.icon-text-second,.icon-text-third {
		font-size: 15px;
	}
	.biom-text {
		margin-right: 20px;
		margin-left: 7%;
	}
	.biom-text.second {
		margin-right: 150px;
		margin-left: 8.5%;
	}
	.shop {
		padding: 12px 36px;
	}
}

@media only screen and (min-width:515px) and (max-width:699px) {
	.biom {
		font-size: 11px;
	}
	.redefine {
		font-size: 23px;
		margin-left: 11%;
	}
	.biom-text,.biom-text.second,.icon-text,.icon-text-second,.icon-text-third {
		font-size: 13px;
	}
	.biom-text {
		margin-left: -1%;
	}
	.biom-text.second {
		margin-left: 5%;
	}
	.shop {
		padding: 10px 30px;
		font-size: 11px;
	}
	.icon-text-third {
                margin-right: 70px;
    }
}

@media only screen and (max-width:514px) {
	.biom {
		font-size: 10px;
	}
	.redefine {
		font-size: 21px;
		margin-left: 11%;
	}
	.biom-text,.biom-text.second,.icon-text,.icon-text-second,.icon-text-third {
		font-size: 11px;
	}
	.biom-text {
		margin-left: -11%;
	}
	.biom-text.second {
		margin-left: 2%;
	}
	.shop {
		padding: 8px 24px;
		font-size: 10px;
	}
	.icon-text-third {
                margin-right: 63px;
}
	
}

@media only screen and (min-width:1015px) and (max-width:1430px) {
	.auto-scroll-text {
		font-size: 110px;
		margin-left: -3%;	
	}
}

@media only screen and (min-width:700px) and (max-width:1014px) {
	.auto-scroll-text {
		font-size: 90px;
		margin-left: -5%;	
	}
}

@media only screen and (max-width:699px) {
	.auto-scroll-text {
		font-size: 60px;
		margin-left: -8%;	
	}
}

/* WHERE you need it, when you need it section */

@media only screen and (min-width:1200px) and (max-width:1450px) {

	.where {
		font-size: 15px;
}
	.when {
		font-size: 70px;
		margin-right: 0;
	}
	.office {
		top: 80%;
	}
}

@media only screen and (min-width:1000px) and (max-width:1199px) {

	.where {
		font-size: 14px;
		margin-top: -83%;
}
	.when {
		font-size: 65px;
		margin-right: 0;
	}
	.office {
		top: 75%;
	}
}

@media only screen and (min-width:830px) and (max-width:999px) {

	.where {
		font-size: 13px;
		margin-top: -90%;
}
	.when {
		font-size: 50px;
		margin-right: 0;
	}
	.office {
		top: 70%;
	}
}

@media only screen and (min-width:710px) and (max-width:829px) {

	.where {
		font-size: 13px;
		margin-top: -93%;
}
	.when {
		font-size: 45px;
		margin-right: 0;
	}
	.office {
		top: 62%;
		font-size: 18px;
	}
}

@media only screen and (min-width:600px) and (max-width:709px) {

	.where {
		font-size: 12px;
		margin-top: -100%;
}
	.when {
		font-size: 38px;
		margin-right: 0;
	}
	.office {
		top: 55%;
		font-size: 16px;
	}
}

@media only screen and (min-width:500px) and (max-width:599px) {

	.where {
		font-size: 12px;
		margin-top: -115%;
}
	.when {
		font-size: 32px;
		margin-right: 0;
	}
	.office {
		top: 50%;
		font-size: 14px;
	}
}
	
@media only screen and (max-width:499px) {

	.where {
		font-size: 10px;
		margin-top: -125%;
}
	.when {
		font-size: 25px;
		margin-right: 0;
	}
	.office {
		top: 45%;
		font-size: 11px;
	}
}
	

/* Ready to start wiping our waste section */

.container-fluid.responsive_div {
	display: none;
}

@media only screen and (max-width: 1480px) {
	.container-fluid {
		display: none;
	}
	.container-fluid.responsive_div {
		display: block;
}
	.ready {
		margin-left: 0;
		margin-top: 0;
		text-align: center;
	}
	.color {
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
	}
	#images {
		margin-bottom: 3%;
	}
	.ocean,.whitebiom,.ink {
		margin-top: 5%;
	}
	
}

@media only screen and (max-width: 992px) {
    .green,.fn,.black {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
}

@media only screen and (max-width: 592px) {
	.ready {
		margin-left: 0;
		text-align: center;
		margin-top: 2%;
		font-size: 28px;
	}
	.color {
		margin-left: auto;
		margin-right: auto;
		font-size: 11px;
	}
	
	.bioms {
		font-size: 18px;
	}
	.teal {
		font-size: 12px;
	}
}

/* TESTIMONIALS section */

@media only screen and (min-width:780px) and (max-width:992px) {
	#quote-carousel .carousel-indicators {
		top: 190px;
	}
	.test-text {
		font-size: 23px;
		width: 90%;
	}
}

@media only screen and (min-width:600px) and (max-width:779px) {
	#quote-carousel .carousel-indicators {
		top: 175px;
	}
	.test-text {
		font-size: 20px;
		width: 96%;
	}
}

@media only screen and (max-width:599px) {
	#quote-carousel .carousel-indicators {
		top: 175px;
	}
	.people {
		font-size: 12px;
	}
	.test-text {
		font-size: 17px;
		width: 100%;
	}
}

/* OVERLAPPING IMAGES section */

@media only screen and (min-width:1211px) and (max-width:1350px) {
	#overlapping-images {
  		width: 96%;
  		margin-left: 2%;
 }
.biom-wipes {
  padding-left: 29%;
 }
.planet {
  padding-left: 29%;
 }
.experience {
  padding-left: 29%;
  width: 90%;
 }
.icon-info, .icon-info-second, .icon-info-third {
  padding-left: 40%;
 }
.subscribe {
  top: 540px;
 }
	
}

@media only screen and (min-width:890px) and (max-width:1210px) {
	#overlapping-images {
  width: 96%;
  margin-left: 2%;
}
.mockup {
  top: 350px;
  left: 188px;
}
.biom-wipes {
  font-size: 13px;
  padding-left: 45%;
  padding-top: 7%;
}
.planet {
  font-size: 30px;
  padding-left: 15%;
}
.experience {
  padding-left: 15%;
  width: 95%;
}
.icon-info, .icon-info-second, .icon-info-third {
  padding-left: 28%;
}
.subscribe {
  padding: 12px 32px;
  top: 547px;
  left: 120px;
}
	
}

@media only screen and (min-width:580px) and (max-width:889px) {
#overlapping-images {
  display: block;
  width: 96%;
  margin-left: 2%;
}
.mockup {
  top: 320px;
  left: 188px;
}
.biom-wipes {
  font-size: 13px;
  padding-left: 20%;
  padding-top: 7%;
}
.planet {
  font-size: 25px;
  padding-left: 20%;
}
.experience {
  font-size: 15px;
  padding-left: 10%;
  width: 90%;
  padding-top: 10px;
}
.icon-info, .icon-info-second, .icon-info-third {
  font-size: 15px;
  padding-left: 20%;	
}
.subscribe {
  padding: 12px 32px;
  top: 415px;
  left: 260px;
  margin-right: 0;	
}
	
}

@media only screen and (max-width:579px) {
#overlapping-images {
  display: block;
  width: 98%;
  margin-left: 1%;
}
.mockup {
  top: 250px;
  left: 130px;
}
.biom-wipes {
  padding-left: 5%;
}
.planet {
  font-size: 25px;
  padding-left: 5%;
}
.experience {
  font-size: 15px;
  padding-left: 5%;
  width: 90%;
  padding-top: 10px;
}
.icon-info, .icon-info-second, .icon-info-third {
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: 15px;
}
.subscribe {
  padding: 10px 26px;
  top: 350px;
  left: 230px;
  margin-right: 0;
  font-size: 12px;
}
	
}

/* VIDEO section */

@media only screen and (min-width:1000px) and (max-width:1300px) {
	.cleaning {margin-left: -7%;}
	.plastic-not {margin-left: -25%;}
	.reinvented {margin-left: -24%;}
	.learn {margin-left: 10%;}
}

@media only screen and (min-width:690px) and (max-width:999px) {
.cleaning {
  margin-left: -17%;
}
.plastic-not {
  margin-left: -30%;
  font-size: 31px;
}
.reinvented {
  margin-left: -29%;
  width: 500px;
}
.learn {
  margin-left: 2%;
  font-size: 13px;
  padding: 13px 26px;
}
.video-text {
  top: 40%;
}
	
}

@media only screen and (min-width:550px) and (max-width:689px) {
.cleaning {
  margin-left: -27%;
  font-size: 12px;
}
.plastic-not {
  margin-left: -43%;
  font-size: 28px;
}
.reinvented {
  margin-left: -42%;
  width: 400px;
  font-size: 13px;
}
.learn {
  margin-left: 2%;
  font-size: 11px;
  padding: 9px 18px;
}
.video-text {
  top: 35%;
}
	
}

@media only screen and (max-width:549px) {
.cleaning {
  margin-left: -23%;
  font-size: 11px;
}
.plastic-not {
  margin-left: -39%;
  font-size: 23px;
}
.reinvented {
  margin-left: -38%;
  width: 400px;
  font-size: 12px;
}
.learn {
  margin-left: 2%;
  font-size: 11px;
  padding: 8px 16px;
}
.video-text {
  top: 35%;
}
}

/* INSTAGRAM - #cleanwithbiom section */

@media only screen and (max-width:750px) {
.clean {
   font-size: 30px;
   margin-top: 10%;
}
.follow {
   margin-top: 7%;
   margin-bottom: 15%;
   font-size: 12px;	
}
}

/* NEWS section */

@media only screen and (max-width:700px) {
	.latest {
		font-size: 25px;
		padding-left: 5%;
	}
	.access {
		font-size: 14px;
		padding-left: 5%;
	}
	.mail {
		margin-left: 5%;
		padding-right: 150px;
	}
}

/* FOOTER section */

@media only screen and (max-width:768px) {
.navbar-nav {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
.final {
   display:block;
	}
.rights {
   font-size:13px;
   text-align:center;
	}
.social {
   padding-left:0;
   text-align:center; 
   padding-bottom: 2%;
}
.nav-item.first-item.footer-nav,.nav-item.second-item.footer-nav,.nav-item.third-item.footer-nav,.nav-item.sixth-item.footer-item {
	padding-left: 0;
}
	
.nav-item.fourth-item.footer-nav,.nav-item.fifth-item.footer-nav {
	padding-right: 0;
}	
}

@media only screen and (min-width:1000px) and (max-width:1300px) {
	.navbar-nav {
          width: 80%;
}
	.social {
	  padding-left: 30%;
	}
}

@media only screen and (min-width:768px) and (max-width:999px) {
	.navbar-nav {
          width: 94%;
}
	.social {
	  padding-left: 18%;
	}
}
